.nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 6;
  height: 10%;
  background-color: white;
}

.nav a {
  color: black;
  text-decoration: none;
}
.nav a:hover {
  color: #f50157;
}

.active {
  color: #f50157 !important;
}

.nav__lists {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 40px 10px 0 10px;
}

.nav__lists ul {
  display: flex;
}

.nav__lists li {
  margin-right: 15px;
  list-style-type: none;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
}

.nav__lists__logo {
  position: absolute;
  left: 10px;
}
.nav__lists__login {
  position: absolute;
  right: 10px;
}

.nav__lists__language {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 2px;
}
.nav__lists__language li {
  font-size: 0.8rem;
}

.nav__lists__login li:nth-child(1),
.nav__lists__language li:nth-child(1) {
  padding-right: 10px;
  border-right: 1px solid;
}

.nav__lists__logged {
  position: absolute;
  right: 10px;
}

.user-settings {
  margin-top: -6px;
}

.selected__language {
  border: 1px solid #dcdbdb;
  background: #f1eded;
}
.nav__lists__user {
  line-height: 1.43;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 16px;
  margin-top: 25px;
  padding: 8px 0px;
  position: absolute;
  top: 50%;
  right: 0px;
  max-height: calc(100vh - 100px);
  z-index: 2;
  min-width: 240px;
  display: block !important;
}

.nav__lists__user li {
  font-size: 0.8rem;
  padding: 8px 10px;
  margin: 0;
}

.nav__lists__user li:hover {
  background-color: #f7f7f7;
}

.search__word {
  display: flex;
  position: relative;
}

.search__word form {
  position: absolute;
}
.nav__search {
  padding: 8px;
  height: 4px;
  opacity: 0;
  border-radius: 15px;
  border: 1px solid grey;
  transition: 0.5s;
  position: absolute;
  width: 0%;
  cursor: pointer;
}

.nav__search:focus {
  height: 4px;
  transition: 0.5s;
  opacity: 1;
  width: 100px;
  cursor: text;
}

.nav__search__icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.nav__word {
  width: 100%;
  position: absolute;
  margin-top: 7%;
  background: white;
  width: 50%;
  border-radius: 12px;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgb(221, 221, 221);
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  padding: 24px;
}

@media only screen and (max-width: 990px) {
  .nav__lists li {
    font-size: 1rem;
  }
  .nav__lists__user li {
    font-size: 0.8rem;
  }
  .nav__lists__language li {
    font-size: 0.8rem;
  }
}
