.nav__word {
  overflow: auto;
  max-height: 80vh;
  z-index: 4;
}

.nav__word::-webkit-scrollbar {
  display: none;
}
.word__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.word__close__div {
  position: absolute;
  left: 0;
  height: 23px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.word__close {
  font-size: 1.4rem;
  color: #b3b1b1;
  cursor: pointer;
}

.word__close:hover {
  color: grey;
}

.word__header span {
  font-size: 0.8rem;
}

.word__title {
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
}

.word__sound {
  flex: auto;
  height: 30px;
}
.div__mean {
  margin-top: 20px;
}

.div__def {
  margin-top: 6px;
}

.example {
  color: green;
  font-size: 0.9rem;
}

.word__content p {
  margin-bottom: 4px;
}

.word__content small {
  color: #7f7878;
  margin-right: 5px;
}

.word__synonyms {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
  .nav__word {
    width: 90%;
    margin-top: 10%;
    height: 90vh;
    box-sizing: border-box;
    overflow: auto;
    position: absolute;
    top: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .nav__word {
    margin-top: 15%;
  }
  .nav__word::-webkit-scrollbar {
    display: none;
  }
}
