.form__div {
  position: relative;
  cursor: text;
  display: flex;
  height: 56px;
  width: 100%;
  margin: 0px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 20px;
}

.header__input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0px;
  margin: 26px 12px 10px;
  min-height: 1px;
  color: inherit;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  appearance: none;
}
.header__input-label {
  position: relative;
  flex: 1 1 0%;
  padding: 0px;
}
