.account {
  display: flex;
  padding: 8%;
  height: 100vh;
  box-sizing: border-box;
}

.account__contain {
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 30px;
  position: relative;
}

.account__profil {
  width: 40%;
  padding: 40px 10px;
  border-radius: 12px;
  border: 1px solid #dddddd;
}

.account__edit {
  width: 100%;
  padding: 0 10px;
}

.profil__content {
  margin: auto;
  margin-bottom: 32px;
  text-align: center;
}

.profil__image {
  width: 128px;
  margin: auto;
}

.profil__image__content {
  height: 128px;
  width: 128px;
}

.profil__image__content img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.account__content {
  height: 100%;
  margin: 0 40px;
  box-sizing: border-box;
}

.account__content__box {
  height: 15%;
}
.account__title {
  font-size: 1.6em;
  font-weight: 700;
  line-height: inherit;
  margin-bottom: 5px;
}

.account__date {
  color: grey;
}

.account__input {
  margin-top: 40px;
}

.account__input__submit {
  margin-top: 10px;
  display: flex;
}

.account__input__submit input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}
.account__editMode {
  margin-left: 1px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.account__validate {
  background: unset;
  border: 0;
  color: green;
  cursor: pointer;
}

.account__errors {
  font-size: 0.9rem;
  color: red;
}

.account__editbtn {
  text-decoration: underline;
  margin-top: 5px;
  cursor: pointer;
}

.account__edit__avatar,
.profil__info__posts {
  cursor: pointer;
  text-decoration: underline;
  margin: 10px;
}

.account__posts {
  height: 85%;
  overflow: auto;
}

.account__post {
  margin: 10px;
}

.account__post__answer {
  font-size: 1.2rem !important;
}

.account__post__answers {
  font-size: 70% !important;
}

.account__post__title {
  font-size: 1.2rem !important;
}

.account__posts::-webkit-scrollbar {
  display: none;
}
/* avatars box */

.account__avatars {
  width: 100%;
  background-color: #f7f7f7;
  box-sizing: border-box;
  height: 85%;
  border-radius: 12px;
  /* border: 1px solid #dddddd; */
  padding: 20px;
  overflow: auto;
}

.account__avatars::-webkit-scrollbar {
  display: none;
}

.avatars__box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.avatar {
  width: 24%;
  box-sizing: border-box;
  height: 30%;
  margin-top: 10px;
  width: max-content;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .account__profil {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    padding: 0;
    width: auto;
  }
  .account__avatars {
    margin-top: 50px;
  }
  .account__posts {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .account {
    padding: 20% 0;
  }
  .account__content {
    margin: 0;
  }
  .account__posts {
    width: 70%;
  }
  .profil__content {
    margin: 0;
  }
  .account__edit__avatar {
    margin: 0;
  }
}
