.forum {
  min-height: 100vh;
  /* margin: 13vh; */
  padding: 10%;
  padding-bottom: 0;
  /* height: 100vh; */
  box-sizing: border-box;
}

.forum__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forum__header p {
  text-transform: uppercase;
  font-size: 0.9rem;
}
.forum__settings {
  display: flex;
}
.forum__settings p {
  padding: 10px;
  margin-right: 60px;
}
.forum__settings button {
  padding: 10px;
  color: white;
  background-color: #f50057;
  border: none;
  border-radius: 15px;
}

.forum__settings button::before {
  content: "Ask Question";
}

.forum__questions {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 10px 10px;
  padding-right: 20px;
}

.forum__questions h2 {
  font-size: 1.6rem;
  width: 100%;
  overflow: hidden;
  margin-right: 20px;
}

.forum__vote,
.forum__answers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forum__vote {
  margin-right: 30px;
}

.forum__questions:nth-child(2n) {
  border-right: 4px solid #91b85b;
}
.forum__questions:nth-child(2n + 1) {
  border-right: 4px solid #d8655e;
}
.forum__questions:nth-child(3n) {
  border-right: 4px solid #6fb0cd;
}

.forum__questions:nth-child(3n + 1) {
  border-right: 4px solid #f1d29f;
}
.forum__vote small:nth-child(1),
.forum__answers small:nth-child(1) {
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 4px;
}
.forum__plus {
  display: flex;
}

.forum__questions a {
  color: #5082b7;
  text-decoration: none;
}
.forum__questions a::first-letter {
  text-transform: uppercase;
}

.forum__questions a:hover {
  color: #d8655e;
}

@media screen and (max-width: 800px) {
  .forum {
    margin-top: 50px;
  }
  .forum__settings button {
    width: 70px;
  }
  .forum__settings button::before {
    content: "Ask";
  }
  .forum__settings p {
    margin-right: 0;
  }
  .forum__plus {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 900px) {
  .forum__questions h2 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 770px) {
  .forum__questions h2 {
    font-size: 1.1rem;
  }
}
