.homepage {
  margin: 40px;
  position: relative;
  display: flex;
}

.homepage__left {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.homepage__left a {
  color: black;
  text-decoration: none;
  cursor: initial;
  /* height: 200px;
  margin-bottom: 70px; */
}
.homepage__title {
  font-size: 2.3rem;
  font-weight: 400;
  padding: 20px;
}

.homepage__description {
  margin-top: 10px;
  height: 30%;
  color: #b5b5b5;
  padding: 20px;
}

.homepage__content {
  display: flex;
  padding: 20px;
  cursor: pointer;
  height: inherit;
  margin: 30px 0 60px 0;
}
.homepage__content:hover {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

.homepage__content img {
  width: 30%;
}
.homepage__subcontent {
  padding: 20px;
  width: 70%;
  box-sizing: border-box;
}

.homepage__subtitle {
  font-size: 2rem;
}

.homepage__content p {
  margin-top: 10px;
  font-size: 1.2rem;
}

@media screen and (max-width: 1000px) {
  .homepage {
    display: block;
    margin: 20px;
  }
  .homepage__left {
    width: 100%;
  }
  .homepage__subcontent {
    padding: 0;
    padding-left: 10px;
  }
  .homepage__title {
    font-size: 2.1rem;
    padding: 0;
    text-align: center;
  }
}

@media only screen and (max-width: 450px) {
  .homepage__content p {
    font-size: 1rem;
  }
  .homepage__subtitle {
    font-size: 1.7rem;
  }
  .homepage__content {
    padding: 0;
  }
}

@media only screen and (max-width: 500px) {
  .homepage__content {
    flex-direction: column;
    margin: 30px 0;
  }
  .homepage__content img {
    width: 100%;
  }
  .homepage__subcontent {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
  .homepage__subcontent p {
    display: none;
  }
}
