.header {
  position: relative;
}
.banniere-desktop {
  height: 100vh;
  width: 100%;
}

.banniere-phone {
  height: 100vh;
  width: 100%;
}

@media screen and (min-width: 500px) {
  .banniere-phone {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .banniere-desktop {
    display: none;
  }
}

.header__login {
  position: absolute;
  left: 10%;
  top: 65%;
  border-radius: 3rem;
  padding: 13px 30px;
  color: white;
  background-color: #e74540;
  font-weight: 800;
  font-size: 1.4em;
  border: none;
  width: 14vw;
}
