.header {
  position: relative;
}
.banniere-desktop {
  /* height: 100vh; */
  width: 100%;
  margin-top: -60px;
}

.banniere-phone {
  /* height: 100vh; */
  width: 100%;
}
.header__login {
  position: absolute;
  left: 10%;
  top: 65%;
  border-radius: 3rem;
  padding: 13px 30px;
  color: white;
  /* background-color: #e74540; */
  background-color: #f50157;
  font-weight: 800;
  border: none;
  width: 14vw;
  font-size: 2.5vw;
  font-size: 1.4em;
}

.header__login:hover {
  background-color: white;
}

.header__welcome {
  position: absolute;
  left: 5%;
  top: 45%;
  width: 25%;
  color: #b5b5b5;
}

@media screen and (min-width: 550px) {
  .banniere-phone {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .banniere-desktop {
    display: none;
  }
  .header__login {
    top: 87%;
    width: 140px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4em;
  }
}

@media screen and (max-width: 1200px) {
  .banniere-desktop {
    margin-top: 0;
  }
}

@media screen and (max-width: 800px) {
  .banniere-desktop {
    margin-top: 20px;
  }
}
