.forumquestion {
  margin: 10%;
  min-height: 80vh;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}
.forumquestion__title {
  font-size: 2rem;
  margin-bottom: 10px;
}
.forumquestion__title::first-letter {
  text-transform: uppercase;
}

.forumquestion__description {
  margin-top: 40px;
}

.forumquestion__description-input {
  padding: 10px;
  border: 1px solid grey;
  /* min-height: 100px; */
  margin-top: 20px;
}

.forumquestion__author {
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 16px;
  padding: 8px;
  min-width: 100px;
}

.forumquestion__date span {
  margin-right: 4px;
  color: grey;
}

.forumquestion__edit {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}
.forumquestion__edit__edit {
  cursor: pointer;
}

.forumquestion__edit__cancel {
  margin-right: 10px;
  color: red;
  cursor: pointer;
}

.forumquestion__edit__save {
  color: green;
  cursor: pointer;
}

.answering {
  margin-top: 40px;
}
.answering__input {
  width: 100%;
}

.yourAnswer {
  margin-bottom: 20px;
  font-weight: 600;
}

.yourAnswer__button {
  margin-top: 20px;
  padding: 10px;
  color: white;
  background-color: #f50057;
  border: none;
  border-radius: 15px;
}

.answers {
  display: flex;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

.answer {
  width: 70%;
  display: flex;
  align-self: flex-end;
  margin-top: 30px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 12px;
  align-items: center;
}

.answer__vote {
  margin-right: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.answer__content {
  font-size: 0.9rem;
}

.answer__content p:nth-child(1) {
  color: grey;
  margin-bottom: 10px;
}

.time span {
  margin-right: 4px;
}

@media screen and (max-width: 700px) {
  .forumquestion {
    margin-top: 20%;
  }
  .answer {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .forumquestion {
    margin: 20% 5%;
  }
  .answer {
    width: auto;
  }
  .forumquestion__author {
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12%; */
  }
}
