.login {
  text-align: center;
}

.login__open {
  background-color: unset;
  border: none;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
  cursor: pointer;
}

.login__open:hover {
  color: #f50157;
}
.login__header {
  text-align: center;
  font-weight: 600;
}

.login__content {
  margin-top: 30px;
}

.login__content h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.form__button {
  margin: 20px 0 25px 0;
  height: 50px;
  width: 100%;
  border: none;
  color: white;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgb(176 176 176) 0px 0px 0px 1px inset;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  background-image: radial-gradient(
    circle at left center,
    rgb(247, 77, 108) 0%,
    rgb(235, 52, 95) 27.5%,
    rgba(241, 21, 94, 0.918) 40%,
    rgb(230, 16, 115) 57.5%,
    rgb(214, 57, 115) 75%,
    rgb(197, 48, 102) 100%
  );
}
.or {
  text-align: center;
  font-size: 0.8rem;
}
.form__google {
  cursor: pointer;
  text-align: center;
  line-height: 24px;
  padding: 10px 12px;
  font-weight: 800;
  border-radius: 8px;
  border: 2px solid rgb(176, 176, 176);
  background: transparent;
  margin-top: 10px;
}

.form__google:hover {
  border-color: rgb(48, 45, 45);
}

@media only screen and (max-width: 990px) {
  .login__open {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  .makeStyles-paper-2 {
    width: 70% !important;
  }
}

@media only screen and (max-width: 470px) {
  .makeStyles-paper-2 {
    width: 90% !important;
  }
}
