.story {
  margin: 10%;
}

.story__title {
  font-size: 2rem;
}

.story__image {
  height: 200px;
  float: right;
  border-radius: 12px;
  margin-left: 20px;
}

.story__content {
  margin-top: 20px;
  line-height: 150%;
}

.story__questions {
  margin-top: 20%;
}

.story__question {
  background: #f7f7f7;
  padding: 50px;
  border-radius: 12px;
  margin-top: 30px;
}

.responses {
  margin-top: 30px;
}

.responses input {
  margin-right: 5px;
}
.response {
  margin-top: 5px;
}

.story__submit {
  float: right;
  margin-top: 20px;
  padding: 5px 15px;
  border: none;
  border-radius: 12px;
  color: white;
  background-color: #f50057;
  font-size: 1.1rem;
}

.story__image {
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .story {
    margin-top: 20%;
  }
}

@media only screen and (max-width: 500px) {
  .story {
    margin-left: 5%;
    margin-right: 5%;
  }
}
